<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1> Herramientas </h1>
    <a href="capitalize.html">Capitalizar un texto.</a>
    <br>
    <a href="maxOf3.html">Mayor numero de 3</a>
    <br>
    <a href="saveOnDisk.html">Guardar en diso</a>
    <br>
    <a href="products.html">Ver productos</a>
    <br>
    <a href="lottery.html">Elementos aleatorios con user input</a>
    <br>
    <a href="randomNumber.html">Numero Aleatorio</a>
    <br>
    <a href="isPalindrome.html">Comprobador de palindromos</a>
    <br>
    <a href="deleteFile.html">Borrar un archivo</a>
    <br>
    <a href="rickandmorty.html">Personajes de rick y morty</a>
    <br>
    <a href="dni.html">Calcular letra dni</a>
    <br>
    <a href="addsong.html"> Guardar cancion</a>
    <br>
    <a href="songsList.html"> Ver canciones</a>
    <br>
    <a href="names.html"> Ver coincidencias entre nombres</a>


</body>

</html>